<h1>My goofy template</h1>
<p>This is my goofy go page where I make crazy shit</p>






<script>
    const user = {
       "name":{{.Name}},
       "age": {{.Age}},
       "bio": {{.Bio}},
       "gender": {{.Gender}},
       "newsletter": {{.Newsletter}}
    };
    console.log(user)
</script>
