
{{template "header" .}}
<div class="px-6 ">
    <h1 class="py-8 text-xl bold tracking-tight">Photo Voom Diddy</h1>
    <h3 class="">Welcome to my Photo Storage site!</h3>
</div>
{{template "footer" .}}