{{template "header" .}}
<div class="container mx-auto ">
    <div class="text-purple-700 text-center my-28  ">
        <h1 class="text-3xl " >Welcome to PhotoZoom</h1>
    </div>
</div>
{{template "footer" .}}